#main-container {
    margin: auto;
    padding: 3rem;

    .col-4 {
        margin-top: 1rem;
    }

    hr {
        margin-top: 3rem;
    }

    h3 {
        text-align: center;
    }

  .flex-div, .col-4  {


    // display: flex;
    // // margin: 1rem 0;
    // flex-wrap: wrap;
    // justify-content: space-around;
    

    .pCard {
        margin-top: 1rem;
        flex-basis: 33.333333%;
        background-color: rgb(179, 146, 179);

        img {
            background-color: rgb(179, 189, 212);
        }
    }
  }
}
