#main-container {
    margin: auto;
    padding: 3rem;

  .flex-div {
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
    

    .pCard {
        flex-basis: 33.333333%;
        background-color: rgb(223, 222, 217);
        // margin: 10px;

        img {
            background-color: rgb(250, 240, 182);
            // width: 10rem;
            // height: 10rem;
        }
    }
  }
}
